.App {
    text-align: center;
  }
    
  #top-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    width:100%;
    border-bottom:solid lightgrey 1px;
    position:sticky;
    top:0;
    background:white;
  }
  
  #left-side{
    width:90px;
    display:flex;
    align-items: center;
    height:100%;
    justify-content: space-around;
  }

  #middle{
    display:flex;
    justify-content:center;
  }
  
  #insta-name-div{
    width:103px;
  }

  #search-box-div{
    flex: 1;
    text-align:center;
  }

  #top-bar-search-box{
    text-align: center;
  }

  .icon{
    width:24px;
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
  }
  
  #vertical-line{
    height:30px;
    width:0px;
    border-right:solid black 1px;
  }
  
  #right-side{
    width:150px;
    display:flex;
    align-items: center;
    height:100%;
    justify-content: space-around;
  }

  .direct-icon{
    display:none;
  }

  /* for now >1024px is synonymous with using a browser */
  @media screen and (max-width: 1024px){
    #vertical-line, #search-box-div, .explore-icon, .activity-icon, .user-icon{
      display:none;
    }
    .direct-icon{
      display:inline;
    }
    #insta-name-div{
      text-align: center;
    }
  }