#main-page{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#feed-placeholder-wrap{
  width:51%;
  display: flex;
  flex-wrap: wrap;
}

.placeholder-feed{
  width:100%;
  height:400px;
  background-color: aqua;
  margin-bottom: 10px;
}