*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#heart {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 3px;
}

#speechIcon {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 3px;
}

#planeLogo {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 3px;
  
}

#likeComments {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 3px;
}

#maineImg {
 height: 500px;
 width: 500px;
}

.App {
  display: flex;
  text-align: center;
  margin: auto;
}