/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#top-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
  width:100%;
  border-bottom:solid black 1px;
}

#left-side{
  width:200px;
  display:flex;
  align-items: center;
  height:100%;
  justify-content: space-around;
}

.icon{
  width:24px;
}

#vertical-line{
  height:30px;
  width:0px;
  border-right:solid black 1px;
}

#right-side{
  width:150px;
  display:flex;
  align-items: center;
  height:100%;
  justify-content: space-around;
} */